.input {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 10px;
  margin-bottom: 24px;
  background: none;
  border: none;
  border-bottom: 1px solid var(--color-addition-darkGray6);

  color: var(--color-main-white);
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  &_type_error {
    margin: 0;
    color: var(--color-main-brightPink);
  }

  &:focus-visible {
    outline: none;
    border-bottom: 1px solid var(--color-main-brightBlue);
  }
}