.logo-link {
  display: block;
  min-height: 38px;
  width: 38px;
  background: url(../../assets/images/logo.svg) center/contain no-repeat;
  border-radius: 50%;

  &:focus-visible {
    outline: 2px solid var(--color-main-white);
  }
}