.input-label {
  display: block;
  margin-bottom: 5px;

  color: var(--color-addition-gray1);
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}
.input-error {
  display: block;
  margin: 6px 0;

  color: var(--color-main-brightPink);
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}
