@use "@/assets/css/mixins" as mixin;

.card {
  max-width: 360px;
  height: 319px;
  border-radius: 6px;

  background-color: var(--color-addition-darkGray4);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);

  &__movie-info {
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__movie-name {
    margin: 0;

    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }

  &__movie-duration {
    color: var(--color-addition-gray1);
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }

  &__link {
    &:focus-visible {
      display: block;
      outline: 1.5px solid var(--color-main-white);
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  &__button {
    @include mixin.hover(0.8);

    display: block;
    margin: 18px auto;
    height: 29px;
    width: 100px;
    border: none;
    border-radius: 30px;

    background-color: var(--color-addition-darkGray1);

    color: var(--color-main-white);
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;

    &:focus-visible {
      outline: 1.5px solid var(--color-main-white);
    }

    &_type {
      &_saved {
        background: var(--color-main-brightPink)
          url(../../assets/images/cardbutton-saved.svg) center no-repeat;
      }
      &_delete {
        background: url(../../assets/images/cardbutton-delete.svg) center
          no-repeat;
        background-color: var(--color-addition-darkGray1);
      }
    }
  }
}
